.container {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.left-component img {
	width: 450px;
	height: 600px;
	margin-bottom: 30px;
}

.right-component {
	width: 400px;
}

.text {
	margin-top: 20px;
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: bold;
}

.btn {
	font-size: 20px;
	width: 350px;
	height: 40px;
}

.size {
	font-size: 20px;
	width: 350px;
	height: 40px;	
}

.pick-size {
	margin-top: 150px;
}