<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngIf="product" class="container">
  <div class="left-component">
    <img src={{product.img}}>
  </div>

  <div class="right-component" *ngIf="product">
    <div class="text">  {{product.name}} </div>
    <div class="text"> Only ${{product.price}} </div>

    <div class="pick-size">
      <select class="size" (change)="selectChangeHandler($event.target.value)" >
        <option disabled="true"> Pick a size </option>
        <option *ngFor="let size of product.sizeAvailable.split(',')"> {{size}} </option>
      </select>

    <span> <button class="btn" (click)=check(product)> <i class="fa fa-shopping-cart"></i> Add </button> </span>
    </div>

  </div>

</div>
