h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

#wrapper {
  width: 1250px;
  margin: 0 auto;
}

.top-bar {
	text-align: right;
}

.top-menu {
	font-size: 20px;
	padding: 3px 3px;
	border: none;
}

.title {
	text-align: center;	
	font-size: 50px;
	white-space: nowrap;
	overflow: hidden;
}

.title a {
    color: black;
    text-decoration: none;
}

.menu-bar {
	margin-top: 60px;
	margin-bottom: 80px;
	margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  width: 800px;
  white-space: nowrap;
  text-align: center;
	overflow: hidden;
}

li {
	display: inline;
	font-size: 25px;
	padding: 10px 16px;
	border-left: 0.1px solid #D3D3D3;
	cursor: pointer;
}

li:hover {
	text-decoration: underline;
}

.footer {
	width: 1350px;
	display: flex;
	justify-content: center;
}

.column {
  width: 200px;
  text-align: center;
}