<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="wrapper">

  <flash-messages></flash-messages>

  <ul class="top-bar" *ngIf="productService.productsCheckOut">
      <li *ngIf="!userService.loggedIn" class="top-menu" routerLink='/log-in'> Log in </li>
      <li *ngIf="userService.loggedIn" class="top-menu" (click)="logOut()"> Log out </li>
    <span> <li class="top-menu" routerLink="./cart"> <i class="fa fa-shopping-cart"></i> Shopping Bag ({{productService.productsCheckOut.length}}) </li> </span>
  </ul>

  <div class="title" > <a routerLink="/home"> Online Shopping Store </a> </div>

  <ul class="menu-bar">
    <li routerLink="/deparment/women"> Women </li>
    <li routerLink="/deparment/men"> Men </li> 
    <li (click)="display()"> Girls </li>
    <li (click)="display()"> Boys </li>
    <li (click)="display()"> Baby </li>
    <li (click)="display()"> Sale </li>
  </ul>

  <hr><br>

  <router-outlet></router-outlet>

  <hr> 

  <div class="footer">
    <div class="column">
      <h3>Store information</h3>
      <p>Created for educational purposes by Antonio Lok</p> </div>
    <div class="column">
      <h3>About us</h3>
      <p>Created for educational purposes by Antonio Lok</p> </div>
    <div class="column">
      <h3>Help</h3>
      <p>Created for educational purposes by Antonio Lok</p> </div>
    <div class="column">
      <h3>Follow us</h3>
      <p>Created for educational purposes by Antonio Lok</p> </div>
  </div>
</div>
