.top-message {
	background-color: lightblue;
	font-size: 30px;
	text-align: center;
}

.subheader {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-top : 20px;
	margin-bottom: 30px;
}

.section-container {
	width: 1200px;
	margin: 0 auto;
}

.column-img {
	width: 1200px;
	display: flex;
	text-align: center;	
	flex-flow: row wrap;
}

.column-img img {
	margin-left: 25px;
	margin-right: 25px;
  width: 250px;
  height: 400px;
}

.img-text-bottom {
	margin-bottom: 30px;
}