<div class ="top-message">
  Free shipping on all orders!
</div>

<hr>
<div class="subheader"> New Arrivals </div>

<h2> Women: </h2>

<div class="section-container">
  <div class="column-img">
    <div class="product" *ngFor="let product of womenProducts" routerLink="/products/detail/{{product._id}}">
      <img src={{product.img}}>
      <div class="img-text"> {{product.name}} </div>
      <div class="img-text-bottom"> {{product.price}} </div>
    </div>  
  </div>
</div>

<h2> Men: </h2>

<div class="section-container">
  <div class="column-img">
    <div class="product" *ngFor="let product of menProducts" routerLink="/products/detail/{{product._id}}">
      <img src={{product.img}}>
      <div class="img-text"> {{product.name}} </div>
      <div class="img-text-bottom"> {{product.price}} </div>
    </div>  
  </div>
</div>

<hr>
